.tab-container {
    background: #ecf0f3;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    display: flex;
    justify-content: space-between;
    margin: 10vh 0;
    border-radius: 10px;
}

.tab {
    padding: 10px 20px;
}

.active {
    border-radius: 10px;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

@media screen and (max-width: 450px) {
    .tab-container {
        flex-direction: column;
    }
}