.container {
    position: relative;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.user-icon {
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #366796;
    letter-spacing: 1px;
}

.inputs {
    width: 230px;
    text-align: left;
    margin-top: 30px;
}

label,
input,
button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

label {
    margin-bottom: 4px;
}

label:nth-of-type(2) {
    margin-top: 12px;
}

input::placeholder {
    color: gray;
}

input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.error-text {
    color: #E10000;
    font-size: 12px;
}

.success-message {
    color: #3DAB3A;
    font-size: 12px;
    margin-top: 5px;
}

.loader-container {
    display: flex;
    justify-content: center;
}

.loader {
    border: 3px solid #94fff1;
    border-top: 3px solid #ecf0f3;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

.loader-dark {
    border: 3px solid #b8cdca;
    border-top: 3px solid #366796;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

button {
    color: white;
    margin-top: 25px;
    background: #366796;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    box-shadow: none;
}


h1 {
    position: absolute;
    top: 0;
    left: 0;
}

.user-list {
    width: 40vw;
    max-height: 68vh;
    overflow-y: scroll;
    min-width: 300px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 1px;
}

::-webkit-scrollbar-track {
    margin: 20px 0;
}

::-webkit-scrollbar-thumb {
    background-color: #cbced1;
    border-radius: 8px;
}

.user-list-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    margin: 10px;
    flex: 0 1 20%;
    box-shadow: 1px 1px 3px 1px #cbced1;
    border-radius: 5px;
}

.user-name {
    flex: 1;
    margin: 0 10px;
    text-align: left;
}

.user-path-container {
    margin: 15px 0;
}